In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error , r2_score , mean_absolute_error , mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

### Grouping DF's

In [13]:
df_list = []

for file in os.listdir("emissions_data"):
    if file.endswith('.csv'):
        df_list.append(pd.read_csv(os.path.join("emissions_data", file)))

In [14]:
len(df_list)

29

In [15]:
# for df in df_list:
#     for col in df.columns:
#         print(col)
#     print("........")
for df in df_list:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20720 entries, 0 to 20719
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   20720 non-null  int64
 1   iso3_country               20720 non-null  object
 2   original_inventory_sector  20720 non-null  object
 3   start_time                 20720 non-null  object
 4   end_time                   20720 non-null  object
 5   temporal_granularity       20720 non-null  object
 6   gas                        20720 non-null  object
 7   emissions_quantity         20720 non-null  float64
 8   emissions_factor           0 non-null      float64
 9   emissions_factor_units     20720 non-null  object
 10  capacity                   20720 non-null  int64
 11  capacity_units             20720 non-null  object
 12  capacity_factor            0 non-null      float64
 13  created_date               20720 non-null  object
 14  modified_date              10 non-null     object
 15  asset_name                 20720 non-null  object
 16  asset_type                 0 non-null      float64
 17  st_astext                  20720 non-null  object
dtypes: float64(4), int64(2), object(12)
memory usage: 2.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         7226 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       0 non-null      float64
 8   created_date               8785 non-null   object
 9   modified_date              5169 non-null   object
dtypes: float64(2), object(8)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         7729 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              3169 non-null   object
dtypes: float64(1), object(9)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         4937 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              1236 non-null   object
dtypes: float64(1), object(9)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20720 entries, 0 to 20719
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   20720 non-null  int64
 1   iso3_country               20720 non-null  object
 2   original_inventory_sector  20720 non-null  object
 3   start_time                 20720 non-null  object
 4   end_time                   20720 non-null  object
 5   temporal_granularity       20720 non-null  object
 6   gas                        20720 non-null  object
 7   emissions_quantity         20720 non-null  float64
 8   emissions_factor           0 non-null      float64
 9   emissions_factor_units     20720 non-null  object
 10  capacity                   20720 non-null  int64
 11  capacity_units             20720 non-null  object
 12  capacity_factor            0 non-null      float64
 13  created_date               20720 non-null  object
 14  modified_date              10 non-null     object
 15  asset_name                 20720 non-null  object
 16  asset_type                 0 non-null      float64
 17  st_astext                  20720 non-null  object
dtypes: float64(4), int64(2), object(12)
memory usage: 2.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   602 non-null    int64
 1   asset_name                 602 non-null    object
 2   owner_name                 602 non-null    object
 3   owner_classification       0 non-null      float64
 4   percentage_of_ownership    0 non-null      float64
 5   owner_direct_parent        602 non-null    object
 6   owner_grouping             602 non-null    object
 7   operator_name              1 non-null      object
 8   percentage_of_operation    0 non-null      float64
 9   data_source                0 non-null      float64
 10  url                        395 non-null    object
 11  recency                    602 non-null    object
 12  created_date               602 non-null    object
 13  original_inventory_sector  602 non-null    object
dtypes: float64(4), int64(1), object(9)
memory usage: 66.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         8785 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         8785 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8750 non-null   object
 1   start_time                 8750 non-null   object
 2   end_time                   8750 non-null   object
 3   original_inventory_sector  8750 non-null   object
 4   gas                        8750 non-null   object
 5   emissions_quantity         8123 non-null   float64
 6   emissions_quantity_units   8750 non-null   object
 7   temporal_granularity       8750 non-null   object
 8   created_date               8750 non-null   object
 9   modified_date              720 non-null    object
dtypes: float64(1), object(9)
memory usage: 683.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8750 non-null   object
 1   start_time                 8750 non-null   object
 2   end_time                   8750 non-null   object
 3   original_inventory_sector  8750 non-null   object
 4   gas                        8750 non-null   object
 5   emissions_quantity         8750 non-null   float64
 6   emissions_quantity_units   8750 non-null   object
 7   temporal_granularity       8750 non-null   object
 8   created_date               8750 non-null   object
 9   modified_date              4708 non-null   object
dtypes: float64(1), object(9)
memory usage: 683.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         8785 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   995 non-null    int64
 1   iso3_country               995 non-null    object
 2   original_inventory_sector  995 non-null    object
 3   start_time                 995 non-null    object
 4   end_time                   995 non-null    object
 5   temporal_granularity       995 non-null    object
 6   gas                        995 non-null    object
 7   emissions_quantity         995 non-null    float64
 8   capacity                   0 non-null      float64
 9   capacity_units             995 non-null    object
 10  capacity_factor            0 non-null      float64
 11  created_date               995 non-null    object
 12  modified_date              0 non-null      float64
 13  asset_name                 995 non-null    object
 14  asset_type                 995 non-null    object
 15  st_astext                  995 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 124.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         7311 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       0 non-null      float64
 8   created_date               8785 non-null   object
 9   modified_date              7305 non-null   object
dtypes: float64(2), object(8)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   500 non-null    int64
 1   iso3_country               500 non-null    object
 2   original_inventory_sector  500 non-null    object
 3   start_time                 500 non-null    object
 4   end_time                   500 non-null    object
 5   temporal_granularity       500 non-null    object
 6   gas                        500 non-null    object
 7   emissions_quantity         500 non-null    float64
 8   capacity                   0 non-null      float64
 9   capacity_units             500 non-null    object
 10  capacity_factor            0 non-null      float64
 11  created_date               500 non-null    object
 12  modified_date              0 non-null      float64
 13  asset_name                 500 non-null    object
 14  asset_type                 0 non-null      float64
 15  st_astext                  500 non-null    object
dtypes: float64(5), int64(1), object(10)
memory usage: 62.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8750 non-null   object
 1   start_time                 8750 non-null   object
 2   end_time                   8750 non-null   object
 3   original_inventory_sector  8750 non-null   object
 4   gas                        8750 non-null   object
 5   emissions_quantity         8750 non-null   int64
 6   emissions_quantity_units   8750 non-null   object
 7   temporal_granularity       8750 non-null   object
 8   created_date               8750 non-null   object
 9   modified_date              1113 non-null   object
dtypes: int64(1), object(9)
memory usage: 683.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13780 entries, 0 to 13779
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   13780 non-null  int64
 1   iso3_country               13780 non-null  object
 2   original_inventory_sector  13780 non-null  object
 3   start_time                 13780 non-null  object
 4   end_time                   13780 non-null  object
 5   temporal_granularity       13780 non-null  object
 6   lat_lon                    0 non-null      float64
 7   gas                        13780 non-null  object
 8   emissions_quantity         13780 non-null  float64
 9   emissions_factor           13780 non-null  float64
 10  emissions_factor_units     13780 non-null  object
 11  capacity                   5950 non-null   float64
 12  capacity_units             13780 non-null  object
 13  capacity_factor            5950 non-null   float64
 14  activity                   13780 non-null  float64
 15  activity_units             13780 non-null  object
 16  created_date               13780 non-null  object
 17  modified_date              5 non-null      object
 18  asset_name                 13780 non-null  object
 19  asset_type                 13780 non-null  object
 20  st_astext                  13780 non-null  object
dtypes: float64(6), int64(1), object(14)
memory usage: 2.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153 entries, 0 to 1152
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   1153 non-null   int64
 1   asset_name                 1153 non-null   object
 2   owner_name                 1153 non-null   object
 3   owner_classification       1153 non-null   object
 4   percentage_of_ownership    1153 non-null   float64
 5   owner_direct_parent        1153 non-null   object
 6   owner_grouping             1153 non-null   object
 7   operator_name              0 non-null      float64
 8   percentage_of_operation    0 non-null      float64
 9   data_source                1153 non-null   object
 10  url                        1153 non-null   object
 11  recency                    1153 non-null   object
 12  created_date               1153 non-null   object
 13  original_inventory_sector  1153 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 126.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         8785 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       8785 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 686.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19295 entries, 0 to 19294
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   19295 non-null  int64
 1   iso3_country               19295 non-null  object
 2   original_inventory_sector  19295 non-null  object
 3   start_time                 19295 non-null  object
 4   end_time                   19295 non-null  object
 5   temporal_granularity       19295 non-null  object
 6   gas                        19295 non-null  object
 7   emissions_quantity         15436 non-null  float64
 8   emissions_factor           7718 non-null   float64
 9   emissions_factor_units     19190 non-null  object
 10  created_date               19295 non-null  object
 11  modified_date              28 non-null     object
 12  asset_name                 19295 non-null  object
 13  asset_type                 19295 non-null  object
 14  st_astext                  19295 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 2.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17665 entries, 0 to 17664
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   17665 non-null  int64
 1   asset_name                 17665 non-null  object
 2   owner_name                 17665 non-null  object
 3   owner_classification       0 non-null      float64
 4   percentage_of_ownership    17665 non-null  float64
 5   owner_direct_parent        17665 non-null  object
 6   owner_grouping             17665 non-null  object
 7   operator_name              0 non-null      float64
 8   percentage_of_operation    0 non-null      float64
 9   data_source                0 non-null      float64
 10  url                        0 non-null      float64
 11  recency                    17665 non-null  object
 12  created_date               17665 non-null  object
 13  original_inventory_sector  17665 non-null  object
dtypes: float64(6), int64(1), object(7)
memory usage: 1.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               10000 non-null  object

In [16]:
m1=[]
m2=[]
for df in df_list:
    if 'iso3_country' in df.columns and 'start_time' in df.columns and 'end_time' in df.columns:
        m1.append(df)
    elif 'asset_id' in df.columns and 'owner_name' in df.columns and 'asset_name' in df.columns:
        m2.append(df)
m1

[       asset_id iso3_country original_inventory_sector           start_time  \
 0       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 1       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 2       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 3       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 4       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 ...         ...          ...                       ...                  ...
 20715   5093606          USA      oil-and-gas-refining  2016-01-01 00:00:00
 20716   5093606          USA      oil-and-gas-refining  2016-01-01 00:00:00
 20717   5093606          USA      oil-and-gas-refining  2017-01-01 00:00:00
 20718   5093606          USA      oil-and-gas-refining  2017-01-01 00:00:00
 20719   5093606          USA      oil-and-gas-refining  2017-01-01 00:00:00

                   end_time temporal_granularity         gas  \
 0      2020-12-31 00:00:00               annual         co2
 1      2020-12-31 00:00:00               annual         ch4
 2      2020-12-31 00:00:00               annual         n2o
 3      2020-12-31 00:00:00               annual  co2e_100yr
 4      2020-12-31 00:00:00               annual   co2e_20yr
 ...                    ...                  ...         ...
 20715  2016-12-31 00:00:00               annual         n2o
 20716  2016-12-31 00:00:00               annual  co2e_100yr
 20717  2017-12-31 00:00:00               annual         co2
 20718  2017-12-31 00:00:00               annual         ch4
 20719  2017-12-31 00:00:00               annual         n2o

        emissions_quantity  emissions_factor          emissions_factor_units  \
 0           326746.195100               NaN  tonnes_gas_per_product_refined
 1              532.559066               NaN  tonnes_gas_per_product_refined
 2                3.226289               NaN  tonnes_gas_per_product_refined
 3           343577.889300               NaN  tonnes_gas_per_product_refined
 4           371563.094800               NaN  tonnes_gas_per_product_refined
 ...                   ...               ...                             ...
 20715           32.848175               NaN  tonnes_gas_per_product_refined
 20716       247647.831200               NaN  tonnes_gas_per_product_refined
 20717       239087.545300               NaN  tonnes_gas_per_product_refined
 20718          243.512799               NaN  tonnes_gas_per_product_refined
 20719           32.993200               NaN  tonnes_gas_per_product_refined

        capacity         capacity_units  capacity_factor  \
 0        100000  max_refining_capacity              NaN
 1        100000  max_refining_capacity              NaN
 2        100000  max_refining_capacity              NaN
 3        100000  max_refining_capacity              NaN
 4        100000  max_refining_capacity              NaN
 ...         ...                    ...              ...
 20715     27000  max_refining_capacity              NaN
 20716     27000  max_refining_capacity              NaN
 20717     27000  max_refining_capacity              NaN
 20718     27000  max_refining_capacity              NaN
 20719     27000  max_refining_capacity              NaN

                      created_date               modified_date  \
 0       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 1       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 2       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 3       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 4       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 ...                           ...                         ...
 20715  2022-09-13 10:21:59.999686                         NaN
 20716  2022-09-13 10:21:59.999686                         NaN
 20717  2022-09-13 10:21:59.999686                         NaN
 20718  2022-09-13 10:21:59.999686                         NaN
 20719  2022-09-13 10:21:59.999686                         NaN

                                   asset_name  asset_type  \
 0                   Astron Capetown Refinery         NaN
 1                   Astron Capetown Refinery         NaN
 2                   Astron Capetown Refinery         NaN
 3                   Astron Capetown Refinery         NaN
 4                   Astron Capetown Refinery         NaN
 ...                                      ...         ...
 20715  Western Refining Southwest Inc Gallup         NaN
 20716  Western Refining Southwest Inc Gallup         NaN
 20717  Western Refining Southwest Inc Gallup         NaN
 20718  Western Refining Southwest Inc Gallup         NaN
 20719  Western Refining Southwest Inc Gallup         NaN

                           st_astext
 0         POINT(18.53019 -33.84106)
 1         POINT(18.53019 -33.84106)
 2         POINT(18.53019 -33.84106)
 3         POINT(18.53019 -33.84106)
 4         POINT(18.53019 -33.84106)
 ...                             ...
 20715  POINT(-108.426008 35.488931)
 20716  POINT(-108.426008 35.488931)
 20717  POINT(-108.426008 35.488931)
 20718  POINT(-108.426008 35.488931)
 20719  POINT(-108.426008 35.488931)

 [20720 rows x 18 columns],
      iso3_country           start_time             end_time  \
 0             ABW  2020-01-01 00:00:00  2020-12-31 00:00:00
 1             SHN  2019-01-01 00:00:00  2019-12-31 00:00:00
 2             SLB  2019-01-01 00:00:00  2019-12-31 00:00:00
 3             SLE  2019-01-01 00:00:00  2019-12-31 00:00:00
 4             SLV  2019-01-01 00:00:00  2019-12-31 00:00:00
 ...           ...                  ...                  ...
 8780          WLF  2021-01-01 00:00:00  2021-12-31 00:00:00
 8781          WLF  2021-01-01 00:00:00  2021-12-31 00:00:00
 8782          WLF  2021-01-01 00:00:00  2021-12-31 00:00:00
 8783          WLF  2021-01-01 00:00:00  2021-12-31 00:00:00
 8784          WLF  2021-01-01 00:00:00  2021-12-31 00:00:00

       original_inventory_sector         gas  emissions_quantity  \
 0     solid-fuel-transformation         co2                 0.0
 1     solid-fuel-transformation         n2o                 0.0
 2     solid-fuel-transformation         co2                 0.0
 3     solid-fuel-transformation         co2                 0.0
 4     solid-fuel-transformation         co2                 0.0
 ...                         ...         ...                 ...
 8780  solid-fuel-transformation         co2                 NaN
 8781  solid-fuel-transformation         n2o                 NaN
 8782  solid-fuel-transformation         ch4                 NaN
 8783  solid-fuel-transformation   co2e_20yr                 NaN
 8784  solid-fuel-transformation  co2e_100yr                 NaN

      emissions_quantity_units  temporal_granularity  \
 0                      tonnes                   NaN
 1                      tonnes                   NaN
 2                      tonnes                   NaN
 3                      tonnes                   NaN
 4                      tonnes                   NaN
 ...                       ...                   ...
 8780                   tonnes                   NaN
 8781                   tonnes                   NaN
 8782                   tonnes                   NaN
 8783                   tonnes                   NaN
 8784                   tonnes                   NaN

                    created_date modified_date
 0     2022-09-06 12:39:52.76017           NaN
 1     2022-09-06 12:39:52.76017           NaN
 2     2022-09-06 12:39:52.76017           NaN
 3     2022-09-06 12:39:52.76017           NaN
 4     2022-09-06 12:39:52.76017           NaN
 ...                         ...           ...
 8780  2022-09-07 09:56:37.90632           NaN
 8781  2022-09-07 09:56:37.90632           NaN
 8782  2022-09-07 09:56:37.90632           NaN
 8783  2022-09-07 09:56:37.90632           NaN
 8784  2022-09-07 09:56:37.90632           NaN

 [8785 rows x 10 columns],
      iso3_country           start_time             end_time  \
 0             ABW  2019-01-01 00:00:00  2019-12-31 00:00:00
 1             VCT  2020-01-01 00:00:00  2020-12-31 00:00:00
 2             VCT  2020-01-01 00:00:00  2020-12-31 00:00:00
 3             VGB  2015-01-01 00:00:00  2015-12-31 00:00:00
 4             VGB  2015-01-01 00:00:00  2015-12-31 00:00:00
 ...           ...                  ...                  ...
 8780          UZB  2021-01-01 00:00:00  2021-12-31 00:00:00
 8781          VEN  2021-01-01 00:00:00  2021-12-31 00:00:00
 8782          VNM  2021-01-01 00:00:00  2021-12-31 00:00:00
 8783          YEM  2021-01-01 00:00:00  2021-12-31 00:00:00
 8784          ZMB  2021-01-01 00:00:00  2021-12-31 00:00:00

      original_inventory_sector         gas  emissions_quantity  \
 0         oil-and-gas-refining         n2o            0.000000
 1         oil-and-gas-refining  co2e_100yr            0.000000
 2         oil-and-gas-refining   co2e_20yr            0.000000
 3         oil-and-gas-refining         co2            0.000000
 4         oil-and-gas-refining         ch4            0.000000
 ...                        ...         ...                 ...
 8780      oil-and-gas-refining         n2o            2.410198
 8781      oil-and-gas-refining         n2o           22.121602
 8782      oil-and-gas-refining         n2o           36.399913
 8783      oil-and-gas-refining         n2o            4.975469
 8784      oil-and-gas-refining         n2o            1.593668

      emissions_quantity_units temporal_granularity  \
 0                      tonnes               annual
 1                      tonnes               annual
 2                      tonnes               annual
 3                      tonnes               annual
 4                      tonnes               annual
 ...                       ...                  ...
 8780                   tonnes               annual
 8781                   tonnes               annual
 8782                   tonnes               annual
 8783                   tonnes               annual
 8784                   tonnes               annual

                     created_date               modified_date
 0      2022-08-09 15:09:53.10921                         NaN
 1     2022-08-09 15:09:53.260393                         NaN
 2     2022-08-09 15:09:53.260398                         NaN
 3     2022-08-09 15:09:53.260985                         NaN
 4      2022-08-09 15:09:53.26099                         NaN
 ...                          ...                         ...
 8780   2022-09-13 15:37:48.41584  2022-09-14 02:40:06.322601
 8781  2022-09-13 15:37:48.416255  2022-09-14 02:40:06.322601
 8782  2022-09-13 15:37:48.416656  2022-09-14 02:40:06.322601
 8783   2022-09-13 15:37:48.41733  2022-09-14 02:40:06.322601
 8784   2022-09-13 15:37:48.41759  2022-09-14 02:40:06.322601

 [8785 rows x 10 columns],
      iso3_country           start_time             end_time  \
 0             AGO  2015-01-01 00:00:00  2015-12-31 00:00:00
 1             TON  2021-01-01 00:00:00  2021-12-31 00:00:00
 2             TON  2021-01-01 00:00:00  2021-12-31 00:00:00
 3             TON  2021-01-01 00:00:00  2021-12-31 00:00:00
 4             TON  2021-01-01 00:00:00  2021-12-31 00:00:00
 ...           ...                  ...                  ...
 8780          NGA  2021-01-01 00:00:00  2021-12-31 00:00:00
 8781          THA  2021-01-01 00:00:00  2021-12-31 00:00:00
 8782          THA  2021-01-01 00:00:00  2021-12-31 00:00:00
 8783          VEN  2021-01-01 00:00:00  2021-12-31 00:00:00
 8784          VEN  2021-01-01 00:00:00  2021-12-31 00:00:00

                  original_inventory_sector         gas  emissions_quantity  \
 0     oil-and-gas-production-and-transport         n2o        0.000000e+00
 1     oil-and-gas-production-and-transport         co2                 NaN
 2     oil-and-gas-production-and-transport         ch4                 NaN
 3     oil-and-gas-production-and-transport  co2e_100yr                 NaN
 4     oil-and-gas-production-and-transport   co2e_20yr                 NaN
 ...                                    ...         ...                 ...
 8780  oil-and-gas-production-and-transport         ch4        1.060296e+06
 8781  oil-and-gas-production-and-transport  co2e_100yr        3.435604e+07
 8782  oil-and-gas-production-and-transport   co2e_20yr        5.118098e+07
 8783  oil-and-gas-production-and-transport  co2e_100yr        6.636796e+07
 8784  oil-and-gas-production-and-transport   co2e_20yr        1.077823e+08

      emissions_quantity_units temporal_granularity  \
 0                      tonnes               annual
 1                      tonnes               annual
 2                      tonnes               annual
 3                      tonnes               annual
 4                      tonnes               annual
 ...                       ...                  ...
 8780                   tonnes               annual
 8781                   tonnes               annual
 8782                   tonnes               annual
 8783                   tonnes               annual
 8784                   tonnes               annual

                     created_date               modified_date
 0     2022-09-05 15:48:05.453485                         NaN
 1     2022-09-05 15:48:05.698281                         NaN
 2     2022-09-05 15:48:05.698292                         NaN
 3     2022-09-05 15:48:05.698302                         NaN
 4     2022-09-05 15:48:05.698308                         NaN
 ...                          ...                         ...
 8780  2022-09-05 15:48:05.554182  2022-09-14 00:49:04.159453
 8781  2022-09-05 15:48:05.556771  2022-09-14 00:49:04.783513
 8782  2022-09-05 15:48:05.556775  2022-09-14 00:49:04.783513
 8783  2022-09-05 15:48:05.557983  2022-09-14 00:49:04.783513
 8784  2022-09-05 15:48:05.557988  2022-09-14 00:49:04.783513

 [8785 rows x 10 columns],
        asset_id iso3_country original_inventory_sector           start_time  \
 0       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 1       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 2       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 3       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 4       5093419          ZAF      oil-and-gas-refining  2020-01-01 00:00:00
 ...         ...          ...                       ...                  ...
 20715   5093606          USA      oil-and-gas-refining  2016-01-01 00:00:00
 20716   5093606          USA      oil-and-gas-refining  2016-01-01 00:00:00
 20717   5093606          USA      oil-and-gas-refining  2017-01-01 00:00:00
 20718   5093606          USA      oil-and-gas-refining  2017-01-01 00:00:00
 20719   5093606          USA      oil-and-gas-refining  2017-01-01 00:00:00

                   end_time temporal_granularity         gas  \
 0      2020-12-31 00:00:00               annual         co2
 1      2020-12-31 00:00:00               annual         ch4
 2      2020-12-31 00:00:00               annual         n2o
 3      2020-12-31 00:00:00               annual  co2e_100yr
 4      2020-12-31 00:00:00               annual   co2e_20yr
 ...                    ...                  ...         ...
 20715  2016-12-31 00:00:00               annual         n2o
 20716  2016-12-31 00:00:00               annual  co2e_100yr
 20717  2017-12-31 00:00:00               annual         co2
 20718  2017-12-31 00:00:00               annual         ch4
 20719  2017-12-31 00:00:00               annual         n2o

        emissions_quantity  emissions_factor          emissions_factor_units  \
 0           326746.195100               NaN  tonnes_gas_per_product_refined
 1              532.559066               NaN  tonnes_gas_per_product_refined
 2                3.226289               NaN  tonnes_gas_per_product_refined
 3           343577.889300               NaN  tonnes_gas_per_product_refined
 4           371563.094800               NaN  tonnes_gas_per_product_refined
 ...                   ...               ...                             ...
 20715           32.848175               NaN  tonnes_gas_per_product_refined
 20716       247647.831200               NaN  tonnes_gas_per_product_refined
 20717       239087.545300               NaN  tonnes_gas_per_product_refined
 20718          243.512799               NaN  tonnes_gas_per_product_refined
 20719           32.993200               NaN  tonnes_gas_per_product_refined

        capacity         capacity_units  capacity_factor  \
 0        100000  max_refining_capacity              NaN
 1        100000  max_refining_capacity              NaN
 2        100000  max_refining_capacity              NaN
 3        100000  max_refining_capacity              NaN
 4        100000  max_refining_capacity              NaN
 ...         ...                    ...              ...
 20715     27000  max_refining_capacity              NaN
 20716     27000  max_refining_capacity              NaN
 20717     27000  max_refining_capacity              NaN
 20718     27000  max_refining_capacity              NaN
 20719     27000  max_refining_capacity              NaN

                      created_date               modified_date  \
 0       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 1       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 2       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 3       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 4       2022-09-13 10:21:59.97896  2022-10-26 20:16:46.754804
 ...                           ...                         ...
 20715  2022-09-13 10:21:59.999686                         NaN
 20716  2022-09-13 10:21:59.999686                         NaN
 20717  2022-09-13 10:21:59.999686                         NaN
 20718  2022-09-13 10:21:59.999686                         NaN
 20719  2022-09-13 10:21:59.999686                         NaN

                                   asset_name  asset_type  \
 0                   Astron Capetown Refinery         NaN
 1                   Astron Capetown Refinery         NaN
 2                   Astron Capetown Refinery         NaN
 3                   Astron Capetown Refinery         NaN
 4                   Astron Capetown Refinery         NaN
 ...                                      ...         ...
 20715  Western Refining Southwest Inc Gallup         NaN
 20716  Western Refining Southwest Inc Gallup         NaN
 20717  Western Refining Southwest Inc Gallup         NaN
 20718  Western Refining Southwest Inc Gallup         NaN
 20719  Western Refining Southwest Inc Gallup         NaN

                           st_astext
 0         POINT(18.53019 -33.84106)
 1         POINT(18.53019 -33.84106)
 2         POINT(18.53019 -33.84106)
 3         POINT(18.53019 -33.84106)
 4         POINT(18.53019 -33.84106)
 ...                             ...
 20715  POINT(-108.426008 35.488931)
 20716  POINT(-108.426008 35.488931)
 20717  POINT(-108.426008 35.488931)
 20718  POINT(-108.426008 35.488931)
 20719  POINT(-108.426008 35.488931)

 [20720 rows x 18 columns],
      iso3_country           start_time             end_time  \
 0             BWA  2021-01-01 00:00:00  2021-12-31 00:00:00
 1             BWA  2015-01-01 00:00:00  2015-12-31 00:00:00
 2             BWA  2015-01-01 00:00:00  2015-12-31 00:00:00
 3             BWA  2015-01-01 00:00:00  2015-12-31 00:00:00
 4             BWA  2016-01-01 00:00:00  2016-12-31 00:00:00
 ...           ...                  ...                  ...
 8780          SPM  2017-01-01 00:00:00  2017-12-31 00:00:00
 8781          TCA  2018-01-01 00:00:00  2018-12-31 00:00:00
 8782          VAT  2018-01-01 00:00:00  2018-12-31 00:00:00
 8783          VIR  2019-01-01 00:00:00  2019-12-31 00:00:00
 8784          MAF  2020-01-01 00:00:00  2020-12-31 00:00:00

      original_inventory_sector         gas  emissions_quantity  \

In [17]:
#merge
merged_df1 = pd.concat(m1, ignore_index=True)
merged_df2 = pd.concat(m2, ignore_index=True)

In [18]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   temporal_granularity       192955 non-null  object
 6   gas                        228095 non-null  object
 7   emissions_quantity         206103 non-null  float64
 8   emissions_factor           21498 non-null   float64
 9   emissions_factor_units     74410 non-null   object
 10  capacity                   47390 non-null   float64
 11  capacity_units             57205 non-null   object
 12  capacity_factor            5950 non-null    float64
 13  created_date               228095 non-null  object
 14  modified_date              33405 non-null   object
 15  asset_name                 76500 non-null   object
 16  asset_type                 34310 non-null   object
 17  st_astext                  76500 non-null   object
 18  emissions_quantity_units   151595 non-null  object
 19  lat_lon                    0 non-null       float64
 20  activity                   13780 non-null   float64
 21  activity_units             13780 non-null   object
dtypes: float64(7), object(15)
memory usage: 38.3+ MB

In [19]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719 entries, 0 to 21718
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   21719 non-null  int64
 1   asset_name                 21719 non-null  object
 2   owner_name                 21081 non-null  object
 3   owner_classification       2814 non-null   object
 4   percentage_of_ownership    18906 non-null  float64
 5   owner_direct_parent        21081 non-null  object
 6   owner_grouping             21081 non-null  object
 7   operator_name              1 non-null      object
 8   percentage_of_operation    0 non-null      float64
 9   data_source                3452 non-null   object
 10  url                        3847 non-null   object
 11  recency                    21719 non-null  object
 12  created_date               21719 non-null  object
 13  original_inventory_sector  21719 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 2.3+ MB

### Clean merged_1

In [20]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   temporal_granularity       192955 non-null  object
 6   gas                        228095 non-null  object
 7   emissions_quantity         206103 non-null  float64
 8   emissions_factor           21498 non-null   float64
 9   emissions_factor_units     74410 non-null   object
 10  capacity                   47390 non-null   float64
 11  capacity_units             57205 non-null   object
 12  capacity_factor            5950 non-null    float64
 13  created_date               228095 non-null  object
 14  modified_date              33405 non-null   object
 15  asset_name                 76500 non-null   object
 16  asset_type                 34310 non-null   object
 17  st_astext                  76500 non-null   object
 18  emissions_quantity_units   151595 non-null  object
 19  lat_lon                    0 non-null       float64
 20  activity                   13780 non-null   float64
 21  activity_units             13780 non-null   object
dtypes: float64(7), object(15)
memory usage: 38.3+ MB

In [21]:
merged_df1.head(6)

,asset_id,iso3_country,original_inventory_sector,start_time,end_time,temporal_granularity,gas,emissions_quantity,emissions_factor,emissions_factor_units,...,capacity_factor,created_date,modified_date,asset_name,asset_type,st_astext,emissions_quantity_units,lat_lon,activity,activity_units
0,5093419.0,ZAF,oil-and-gas-refining,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,co2,326746.195100,NaN,tonnes_gas_per_product_refined,...,NaN,2022-09-13 10:21:59.97896,2022-10-26 20:16:46.754804,Astron Capetown Refinery,NaN,POINT(18.53019 -33.84106),NaN,NaN,NaN,NaN
1,5093419.0,ZAF,oil-and-gas-refining,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,ch4,532.559066,NaN,tonnes_gas_per_product_refined,...,NaN,2022-09-13 10:21:59.97896,2022-10-26 20:16:46.754804,Astron Capetown Refinery,NaN,POINT(18.53019 -33.84106),NaN,NaN,NaN,NaN
2,5093419.0,ZAF,oil-and-gas-refining,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,n2o,3.226289,NaN,tonnes_gas_per_product_refined,...,NaN,2022-09-13 10:21:59.97896,2022-10-26 20:16:46.754804,Astron Capetown Refinery,NaN,POINT(18.53019 -33.84106),NaN,NaN,NaN,NaN
3,5093419.0,ZAF,oil-and-gas-refining,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,co2e_100yr,343577.889300,NaN,tonnes_gas_per_product_refined,...,NaN,2022-09-13 10:21:59.97896,2022-10-26 20:16:46.754804,Astron Capetown Refinery,NaN,POINT(18.53019 -33.84106),NaN,NaN,NaN,NaN
4,5093419.0,ZAF,oil-and-gas-refining,2020-01-01 00:00:00,2020-12-31 00:00:00,annual,co2e_20yr,371563.094800,NaN,tonnes_gas_per_product_refined,...,NaN,2022-09-13 10:21:59.97896,2022-10-26 20:16:46.754804,Astron Capetown Refinery,NaN,POINT(18.53019 -33.84106),NaN,NaN,NaN,NaN
5,5093419.0,ZAF,oil-and-gas-refining,2021-01-01 00:00:00,2021-12-31 00:00:00,annual,co2,0.000000,NaN,tonnes_gas_per_product_refined,...,NaN,2022-09-13 10:21:59.97896,2022-10-26 20:16:47.646743,Astron Capetown Refinery,NaN,POINT(18.53019 -33.84106),NaN,NaN,NaN,NaN

In [22]:
merged_df1.drop(columns=["emissions_factor_units",'emissions_quantity_units', "capacity_units","lat_lon","st_astext", "activity_units",'temporal_granularity',"capacity_factor"], inplace=True)

In [23]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   gas                        228095 non-null  object
 6   emissions_quantity         206103 non-null  float64
 7   emissions_factor           21498 non-null   float64
 8   capacity                   47390 non-null   float64
 9   created_date               228095 non-null  object
 10  modified_date              33405 non-null   object
 11  asset_name                 76500 non-null   object
 12  asset_type                 34310 non-null   object
 13  activity                   13780 non-null   float64
dtypes: float64(5), object(9)
memory usage: 24.4+ MB

In [24]:
merged_df1['emissions_quantity'].unique()
# merged_df1['emissions_factor']
# merged_df1["emissions_factor_units"].unique()
#  activity

array([3.26746195e+05, 5.32559066e+02, 3.22628881e+00, ...,
       3.01499647e+06, 5.51500247e+06, 3.84833180e+06], shape=(67036,))

#### Model imputation

In [25]:
clean_df1 = merged_df1.copy()
clean_df1.info()
lean_df1=clean_df1[['emissions_quantity','gas','original_inventory_sector','capacity']].dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   gas                        228095 non-null  object
 6   emissions_quantity         206103 non-null  float64
 7   emissions_factor           21498 non-null   float64
 8   capacity                   47390 non-null   float64
 9   created_date               228095 non-null  object
 10  modified_date              33405 non-null   object
 11  asset_name                 76500 non-null   object
 12  asset_type                 34310 non-null   object
 13  activity                   13780 non-null   float64
dtypes: float64(5), object(9)
memory usage: 24.4+ MB

In [26]:
# One-hot encoding for categorical variables
categorical_columns = ['gas', 'original_inventory_sector']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df1[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df1.index)

# Combine encoded features with the numerical feature 'capacity'
X = pd.concat([encoded_df, lean_df1[['capacity']]], axis=1)
y = lean_df1['emissions_quantity']
emission_scaler = StandardScaler()
X = emission_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression emissions_model
emissions_model = RandomForestRegressor(n_estimators=20, random_state=42)
emissions_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = emissions_model.predict(X_test)
# Evaluate on the test set
print(emissions_model.score(X_test, y_test))
print(emissions_model.score(X_train, y_train))
# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2}")
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f"Mean Absolute Percentage Error: {mape}")
# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df1[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df1.index)

# 2. Combine with the numerical feature 'capacity'
X_new = pd.concat([encoded_df_new, merged_df1[['capacity']]], axis=1)

# 3. Apply the same scaling
X_new_scaled = emission_scaler.transform(X_new)

# 4. Make predictions
predictions = emissions_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df1['emissions_quantity'] = predictions

0.9477926256214622
0.9581986664704102
Mean Squared Error: 163652619532.38077
R-squared: 0.9477926256214622
Mean Absolute Error: 176652.85377899348
Mean Absolute Percentage Error: 1.3699155458608415e+19

In [27]:
lean_df1=merged_df1[['emissions_quantity','gas','original_inventory_sector','capacity','emissions_factor']].dropna()
# One-hot encoding for categorical variables
categorical_columns = ['gas', 'original_inventory_sector']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df1[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df1.index)

# Combine encoded features with the numerical feature 'capacity'
X = pd.concat([encoded_df, lean_df1[['capacity','emissions_quantity']]], axis=1)
y = lean_df1['emissions_factor']
emission_factor_scaler = StandardScaler()
X = emission_factor_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression emission_factor_model
emission_factor_model = RandomForestRegressor(n_estimators=50, random_state=42)
emission_factor_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = emission_factor_model.predict(X_test)
# Evaluate on the test set
print(emission_factor_model.score(X_test, y_test))
print(emission_factor_model.score(X_train, y_train))
# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2}")
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f"Mean Absolute Percentage Error: {mape}")

# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df1[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df1.index)

# 2. Combine with the numerical feature 'capacity'
X_new = pd.concat([encoded_df_new, merged_df1[['capacity','emissions_quantity']]], axis=1)

# 3. Apply the same scaling
X_new_scaled = emission_factor_scaler.transform(X_new)

# 4. Make predictions
predictions = emission_factor_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df1['emissions_factor'] = predictions

0.8201774759639211
0.8360609620635787
Mean Squared Error: 8482632.83018547
R-squared: 0.8201774759639211
Mean Absolute Error: 981.4428687853042
Mean Absolute Percentage Error: 0.21128463032594713

In [28]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   gas                        228095 non-null  object
 6   emissions_quantity         228095 non-null  float64
 7   emissions_factor           228095 non-null  float64
 8   capacity                   47390 non-null   float64
 9   created_date               228095 non-null  object
 10  modified_date              33405 non-null   object
 11  asset_name                 76500 non-null   object
 12  asset_type                 34310 non-null   object
 13  activity                   13780 non-null   float64
dtypes: float64(5), object(9)
memory usage: 24.4+ MB

In [29]:
lean_df1=clean_df1[['emissions_quantity','gas','original_inventory_sector','capacity','emissions_factor','activity']].dropna()

In [30]:
lean_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5950 entries, 130680 to 144419
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   emissions_quantity         5950 non-null   float64
 1   gas                        5950 non-null   object
 2   original_inventory_sector  5950 non-null   object
 3   capacity                   5950 non-null   float64
 4   emissions_factor           5950 non-null   float64
 5   activity                   5950 non-null   float64
dtypes: float64(4), object(2)
memory usage: 325.4+ KB

In [31]:
lean_df1=clean_df1[['emissions_quantity','gas','original_inventory_sector','capacity','emissions_factor','activity']].dropna()
# One-hot encoding for categorical variables
categorical_columns = ['gas', 'original_inventory_sector']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df1[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df1.index)

# Combine encoded features with the numerical feature 'capacity'
X = pd.concat([encoded_df, lean_df1[['capacity','emissions_quantity']]], axis=1)
y = lean_df1['activity']
capacity_scaler = StandardScaler()
X = capacity_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression activity_model
activity_model = RandomForestRegressor(n_estimators=50, random_state=42)
activity_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = activity_model.predict(X_test)
# Evaluate on the test set
print(activity_model.score(X_test, y_test))
print(activity_model.score(X_train, y_train))
# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2}")
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f"Mean Absolute Percentage Error: {mape}")

# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df1[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df1.index)

# 2. Combine with the numerical feature 'capacity'
X_new = pd.concat([encoded_df_new, merged_df1[['capacity','emissions_quantity']]], axis=1)

# 3. Apply the same scaling
X_new_scaled = capacity_scaler.transform(X_new)

# 4. Make predictions
predictions = activity_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df1['activity'] = predictions

0.9999978786392999
0.9999982145713584
Mean Squared Error: 1.2486562384951317e-05
R-squared: 0.9999978786392999
Mean Absolute Error: 0.0003111041777994358
Mean Absolute Percentage Error: 0.00022897146293667634

In [32]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   gas                        228095 non-null  object
 6   emissions_quantity         228095 non-null  float64
 7   emissions_factor           228095 non-null  float64
 8   capacity                   47390 non-null   float64
 9   created_date               228095 non-null  object
 10  modified_date              33405 non-null   object
 11  asset_name                 76500 non-null   object
 12  asset_type                 34310 non-null   object
 13  activity                   228095 non-null  float64
dtypes: float64(5), object(9)
memory usage: 24.4+ MB

In [33]:
clean_df1=merged_df1.copy()
lean_df1=clean_df1[['emissions_quantity','gas','original_inventory_sector','capacity','emissions_factor','activity']].dropna()
# One-hot encoding for categorical variables
categorical_columns = ['gas', 'original_inventory_sector']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df1[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df1.index)

# Combine encoded features with the numerical feature 'capacity'
X = pd.concat([encoded_df, lean_df1[['activity','emissions_quantity']]], axis=1)
y = lean_df1['capacity']
capacity_scaler = StandardScaler()
X = capacity_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression capacity_model
capacity_model = RandomForestRegressor(n_estimators=50, random_state=42)
capacity_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = capacity_model.predict(X_test)
# Evaluate on the test set
print(capacity_model.score(X_test, y_test))
print(capacity_model.score(X_train, y_train))
# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2}")
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f"Mean Absolute Percentage Error: {mape}")

# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df1[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df1.index)

# 2. Combine with the numerical feature 'capacity'
X_new = pd.concat([encoded_df_new, merged_df1[['activity','emissions_quantity']]], axis=1)

# 3. Apply the same scaling
X_new_scaled = capacity_scaler.transform(X_new)

# 4. Make predictions
predictions = capacity_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df1['capacity'] = predictions

0.995991021914794
0.9948752704517613
Mean Squared Error: 96846542.98892586
R-squared: 0.995991021914794
Mean Absolute Error: 1156.6939656788904
Mean Absolute Percentage Error: 0.027403707956018764

In [34]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   gas                        228095 non-null  object
 6   emissions_quantity         228095 non-null  float64
 7   emissions_factor           228095 non-null  float64
 8   capacity                   228095 non-null  float64
 9   created_date               228095 non-null  object
 10  modified_date              33405 non-null   object
 11  asset_name                 76500 non-null   object
 12  asset_type                 34310 non-null   object
 13  activity                   228095 non-null  float64
dtypes: float64(5), object(9)
memory usage: 24.4+ MB

### Merged_df2

In [35]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719 entries, 0 to 21718
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   21719 non-null  int64
 1   asset_name                 21719 non-null  object
 2   owner_name                 21081 non-null  object
 3   owner_classification       2814 non-null   object
 4   percentage_of_ownership    18906 non-null  float64
 5   owner_direct_parent        21081 non-null  object
 6   owner_grouping             21081 non-null  object
 7   operator_name              1 non-null      object
 8   percentage_of_operation    0 non-null      float64
 9   data_source                3452 non-null   object
 10  url                        3847 non-null   object
 11  recency                    21719 non-null  object
 12  created_date               21719 non-null  object
 13  original_inventory_sector  21719 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 2.3+ MB

In [36]:
merged_df2.drop(['operator_name', 'owner_name','owner_direct_parent','percentage_of_operation', 'url', 'data_source'], axis=1, inplace=True)
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719 entries, 0 to 21718
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   21719 non-null  int64
 1   asset_name                 21719 non-null  object
 2   owner_classification       2814 non-null   object
 3   percentage_of_ownership    18906 non-null  float64
 4   owner_grouping             21081 non-null  object
 5   recency                    21719 non-null  object
 6   created_date               21719 non-null  object
 7   original_inventory_sector  21719 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.3+ MB

In [37]:
print(merged_df2.columns)

Index(['asset_id', 'asset_name', 'owner_classification',
       'percentage_of_ownership', 'owner_grouping', 'recency', 'created_date',
       'original_inventory_sector'],
      dtype='object')

In [38]:
merged_df2['owner_classification'].unique()
clean_df2=merged_df2.copy()
lean_df2=clean_df2[['owner_classification','percentage_of_ownership', 'owner_grouping', 'recency','original_inventory_sector']].dropna()
# One-hot encoding for categorical variables
categorical_columns = ['owner_grouping','original_inventory_sector','recency']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df2[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df2.index)

# Combine encoded features with the numerical feature 'capacity'
X = pd.concat([encoded_df, lean_df2[['percentage_of_ownership']]], axis=1)
y = lean_df2['owner_classification']
owner_classification_scaler = StandardScaler()
X = owner_classification_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression capacity_model
owner_classification_model = RandomForestClassifier(n_estimators=50, random_state=42)
owner_classification_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = owner_classification_model.predict(X_test)
# Evaluate on the test set
print(owner_classification_model.score(X_test, y_test))
print(owner_classification_model.score(X_train, y_train))



# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df2[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df2.index)


X_new = pd.concat([encoded_df_new, merged_df2['percentage_of_ownership']], axis=1)

# 3. Apply the same scaling
X_new_scaled = owner_classification_scaler.transform(X_new)

# 4. Make predictions
predictions = owner_classification_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df2['owner_classification'] = predictions

1.0
1.0

In [39]:
merged_df2['percentage_of_ownership'].unique()
clean_df2=merged_df2.copy()
lean_df2=clean_df2[['owner_classification','percentage_of_ownership', 'owner_grouping', 'recency','original_inventory_sector']].dropna()
# One-hot encoding for categorical variables
categorical_columns = ['owner_grouping','original_inventory_sector','recency','owner_classification']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df2[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df2.index)

# Combine encoded features with the numerical feature 'capacity'
X = encoded_df
y = lean_df2['percentage_of_ownership']
percentage_of_ownership_scaler = StandardScaler()
X = percentage_of_ownership_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression capacity_model
percentage_of_ownership_model = ElasticNet(alpha=0.1, l1_ratio=0.5)
percentage_of_ownership_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = percentage_of_ownership_model.predict(X_test)
# Evaluate on the test set
print(percentage_of_ownership_model.score(X_test, y_test))
print(percentage_of_ownership_model.score(X_train, y_train))
print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred)}")
print(f"R-squared: {r2_score(y_test, y_pred)}")
print(f"Mean Absolute Error: {mean_absolute_error(y_test, y_pred)}")



# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df2[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df2.index)


X_new =encoded_df_new

# 3. Apply the same scaling
X_new_scaled = percentage_of_ownership_scaler.transform(X_new)

# 4. Make predictions
predictions = percentage_of_ownership_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df2['percentage_of_ownership'] = predictions

0.8454587148353971
0.8634932880901707
Mean Squared Error: 159.83820610410646
R-squared: 0.8454587148353971
Mean Absolute Error: 9.432726736977157

In [40]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719 entries, 0 to 21718
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   21719 non-null  int64
 1   asset_name                 21719 non-null  object
 2   owner_classification       21719 non-null  object
 3   percentage_of_ownership    21719 non-null  float64
 4   owner_grouping             21081 non-null  object
 5   recency                    21719 non-null  object
 6   created_date               21719 non-null  object
 7   original_inventory_sector  21719 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.3+ MB

In [41]:
merged_df2['owner_grouping'].value_counts()
clean_df2=merged_df2.copy()
lean_df2=clean_df2[['owner_classification','percentage_of_ownership', 'owner_grouping', 'recency','original_inventory_sector']].dropna()
# One-hot encoding for categorical variables
categorical_columns = ['original_inventory_sector','recency','owner_classification']
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_features = encoder.fit_transform(lean_df2[categorical_columns])
encoded_feature_names = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names, index=lean_df2.index)

# Combine encoded features with the numerical feature 'capacity'
X = pd.concat([encoded_df, lean_df2[['percentage_of_ownership']]], axis=1)
y = lean_df2['owner_grouping']
owner_grouping_scaler = StandardScaler()
X = owner_grouping_scaler.fit_transform(X)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train ther regression capacity_model
owner_grouping_model = DecisionTreeClassifier(random_state=42)
owner_grouping_model.fit(X_train, y_train)
# Make predictions on the test set
y_pred = owner_grouping_model.predict(X_test)
# Evaluate on the test set
print(owner_grouping_model.score(X_test, y_test))
print(owner_grouping_model.score(X_train, y_train))



# 1.apply the same one-hot encoding to the categorical columns
encoded_features_new = encoder.transform(merged_df2[categorical_columns])
encoded_df_new = pd.DataFrame(encoded_features_new, 
                            columns=encoded_feature_names, 
                            index=merged_df2.index)


X_new = pd.concat([encoded_df_new, merged_df2['percentage_of_ownership']], axis=1)

# 3. Apply the same scaling
X_new_scaled = owner_grouping_scaler.transform(X_new)

# 4. Make predictions
predictions = owner_grouping_model.predict(X_new_scaled)

# 5. Add predictions back to your original dataframe
merged_df2['owner_grouping'] = predictions

0.8373251126393171
0.8441057874762808

In [42]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719 entries, 0 to 21718
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   21719 non-null  int64
 1   asset_name                 21719 non-null  object
 2   owner_classification       21719 non-null  object
 3   percentage_of_ownership    21719 non-null  float64
 4   owner_grouping             21719 non-null  object
 5   recency                    21719 non-null  object
 6   created_date               21719 non-null  object
 7   original_inventory_sector  21719 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.3+ MB

### Merge Df's

In [43]:
merged_df1.info()
merged_df1.drop(columns=['asset_type'],inplace=True,axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   asset_id                   76500 non-null   float64
 1   iso3_country               228095 non-null  object
 2   original_inventory_sector  228095 non-null  object
 3   start_time                 228095 non-null  object
 4   end_time                   228095 non-null  object
 5   gas                        228095 non-null  object
 6   emissions_quantity         228095 non-null  float64
 7   emissions_factor           228095 non-null  float64
 8   capacity                   228095 non-null  float64
 9   created_date               228095 non-null  object
 10  modified_date              33405 non-null   object
 11  asset_name                 76500 non-null   object
 12  asset_type                 34310 non-null   object
 13  activity                   228095 non-null  float64
dtypes: float64(5), object(9)
memory usage: 24.4+ MB

In [44]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719 entries, 0 to 21718
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   21719 non-null  int64
 1   asset_name                 21719 non-null  object
 2   owner_classification       21719 non-null  object
 3   percentage_of_ownership    21719 non-null  float64
 4   owner_grouping             21719 non-null  object
 5   recency                    21719 non-null  object
 6   created_date               21719 non-null  object
 7   original_inventory_sector  21719 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.3+ MB

In [49]:
#remove duolicates
merged_df1.drop_duplicates(subset=['asset_id','asset_name','created_date'])
merged_df2.drop_duplicates(subset=['asset_id','asset_name','created_date'])

,asset_id,asset_name,owner_classification,percentage_of_ownership,owner_grouping,recency,created_date,original_inventory_sector
0,5093020,Ghazanfar Oil Refinery,primary,81.196739,Sinopec Group (China),2022-09-27 00:00:00,2022-09-28 14:18:09.971224,oil-and-gas-refining
1,5093021,Armo Ballsh Refinery,primary,81.196739,Sinopec Group (China),2022-09-27 00:00:00,2022-09-28 14:18:09.985777,oil-and-gas-refining
2,5093022,Sonatrach Skikda Refinery,primary,81.196739,Sinopec Group (China),2022-09-27 00:00:00,2022-09-28 14:18:09.992685,oil-and-gas-refining
3,5093023,Skikda Condensate Refinery,primary,81.196739,Sinopec Group (China),2022-09-27 00:00:00,2022-09-28 14:18:09.992744,oil-and-gas-refining
4,5093024,Sonatrach Algiers Refinery Algeria,primary,81.196739,Sinopec Group (China),2022-09-27 00:00:00,2022-09-28 14:18:09.9928,oil-and-gas-refining
...,...,...,...,...,...,...,...,...
21714,1756310,Ndola cement plant (0006),secondary,20.117975,Holcim Group,2021-07-01 00:00:00,2022-10-07 11:14:34.822185,cement
21715,1756311,Harare cement plant (0001),secondary,20.117975,Holcim Group,2021-07-01 00:00:00,2022-10-07 11:14:34.822241,cement
21716,1756312,Bulawayo cement plant,secondary,20.117975,Holcim Group,2021-07-01 00:00:00,2022-10-07 11:14:34.822298,cement
21717,1756313,lleen Bawn cement plant,secondary,20.117975,Holcim Group,2021-07-01 00:00:00,2022-10-07 11:14:34.822354,cement
21718,1756314,Shurugwi cement plant,secondary,20.117975,Holcim Group,2021-07-01 00:00:00,2022-10-07 11:14:34.822409,cement

In [51]:


merged_df1['asset_id'] = merged_df1['asset_id'].fillna(-1).astype('int64') 

merged_df = pd.merge(merged_df1, merged_df2, on=['asset_id', 'asset_name', 'created_date'], how='left')

# Replace -1 in asset_id back to NaN
merged_df['asset_id'] = merged_df['asset_id'].replace(-1, pd.NA)

# Verify the merged DataFrame
print(merged_df.info())
print(f"Number of rows after merge: {len(merged_df)}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228095 entries, 0 to 228094
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   asset_id                     76500 non-null   object
 1   iso3_country                 228095 non-null  object
 2   original_inventory_sector_x  228095 non-null  object
 3   start_time                   228095 non-null  object
 4   end_time                     228095 non-null  object
 5   gas                          228095 non-null  object
 6   emissions_quantity           228095 non-null  float64
 7   emissions_factor             228095 non-null  float64
 8   capacity                     228095 non-null  float64
 9   created_date                 228095 non-null  object
 10  modified_date                33405 non-null   object
 11  asset_name                   76500 non-null   object
 12  activity                     228095 non-null  float64
 13  owner_classification         0 non-null       object
 14  percentage_of_ownership      0 non-null       float64
 15  owner_grouping               0 non-null       object
 16  recency                      0 non-null       object
 17  original_inventory_sector_y  0 non-null       object
dtypes: float64(5), object(13)
memory usage: 31.3+ MB
None
Number of rows after merge: 228095

In [52]:
merged_df.columns

merged_df.drop(columns=[ 'owner_classification', 'percentage_of_ownership', 'owner_grouping',
       'recency', 'original_inventory_sector_y'],inplace=True,axis=1)

In [53]:
merged_df.rename(columns={'original_inventory_sector_x':'original_inventory_sector'},inplace=True)

In [54]:
merged_df.to_csv('merged_df.csv',index=False)